Repository gitpoint/git-point, pull requests merged in 2018-02, with the labels that each got.

#723 refactor: use styled-components in comment-list-item
  .stylelintrc
  src/components/comment-list-item.component.js
Labels: styled-components

#601 refactor: use styled-components in user-list-item
  src/components/user-list-item.component.js
Labels: styled-components

#722 fix(issue): Fix requested review to a team
  src/components/issue-event-list-item.component.js
  src/issue/screens/issue.screen.js
Labels: ready for review

#729 fix: remove extra spaces from empty text nodes
  src/components/github-htmlview.component.js
Labels: markdown, ready for review

#715 Refactor StateBadge component
  __tests__/tests/components/StateBadge.js
  src/components/issue-description.component.js
  src/components/state-badge.component.js
Labels: styled-components

#710 refactor(ui): Migrate search screen to styled components
  ios/GitPoint.xcodeproj/project.pbxproj
  src/search/screens/search.screen.js
Labels: styled-components

#608 refactor: Updated section-list styles to used styled-components
  .all-contributorsrc
  src/components/section-list.component.js
Labels: ready for review, styled-components

#727 chore(label): Migrate LabelButton
  src/components/label-button.component.js
Labels: :nail_care: styled-components

#724 refactor(user-profile): use styled-components
  src/components/index.js
  src/components/user-profile.component.js
Labels: :nail_care: styled-components

#731 fix: Add network error screen
  src/auth/screens/login.screen.js
  src/components/error-screen.js
  src/components/index.js
  src/locale/languages/de.js
  src/locale/languages/en.js
  src/locale/languages/eo.js
  src/locale/languages/es.js
  src/locale/languages/eu.js
  src/locale/languages/fr.js
  src/locale/languages/gl.js
  src/locale/languages/nl.js
  src/locale/languages/pl.js
  src/locale/languages/pt-br.js
  src/locale/languages/pt.js
  src/locale/languages/ru.js
  src/locale/languages/tr.js
  src/locale/languages/uk.js
  src/locale/languages/zh-cn.js
  src/locale/languages/zh-tw.js
Labels: enhancement
